<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800914358702-r55be39dgd994901dqdb8mo17b79trvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800914358702-r55be39dgd994901dqdb8mo17b79trvg</string>
	<key>API_KEY</key>
	<string>AIzaSyAAJwZW3OIMhVeS8SVQrBp5igZ7k0o1jR4</string>
	<key>GCM_SENDER_ID</key>
	<string>800914358702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled2</string>
	<key>PROJECT_ID</key>
	<string>bayea-1f089</string>
	<key>STORAGE_BUCKET</key>
	<string>bayea-1f089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800914358702:ios:61787eca4f658847d7c83f</string>
</dict>
</plist>